* {
    font-family: 'Goldman', cursive;




body {
    font-family: 'Goldman', cursive;




};

section {

    font-family: 'Goldman', cursive;
};



@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');


