* {
    font-family: 'Goldman', cursive;
    

}


body {
    font-family: 'Goldman', cursive;
    background-image: url('https://media4.giphy.com/media/1oF1KAEYvmXBMo6uTS/giphy.gif');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;




};

section {

    font-family: 'Goldman', cursive;
};



@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');


